body {
    width: 100%;
    background-color: rgb(242, 242, 242);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    background-color: white;
    box-shadow: 0px 2px 1.8px 0px rgb(225, 225, 225), 0px -2px 1.8px 0px rgb(225, 225, 225), 0px 2px 1.8px 0px rgb(225, 225, 225), 0px -2px 1.8px 0px rgb(225, 225, 225);
}

.header .logo {
    margin-left: 2.5em;
}

.header .logo span {
    font-size: 2.2rem;
    font-weight: bold;
    color: #1b77f0;
}

.header .header_right {
    display: flex;
}

.header .header_right div {
    margin-right: 1.7em;
}

.header .header_right .email input {
    height: 2.7rem;
    width: 10rem;
    border: 1px solid grey;
    padding-left: 1em;
    border-radius: 6px;
    font-size: 1.05rem;
}

.header .header_right .password input {
    height: 2.7rem;
    width: 10rem;
    border: 1px solid grey;
    padding-left: 1em;
    border-radius: 6px;
    font-size: 1.1rem;
}

.header .header_right .btn input {
    height: 2.7rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #1b77f0;
}

.header .header_right .url a {
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    top: 6px;
    color: #1b77f0;
}

.header .header_right .url a:hover {
    border-bottom: 1.5px solid blue;
}

.container {
    width: 100%;
}

.main_box {
    width: 38%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0 2em;
    background-color: white;
    box-shadow: 0rem 0.1rem 1rem 0rem rgb(232, 232, 232), 0rem -0.1rem 1rem 0rem rgb(234, 234, 234), 0rem 0.1rem 1rem 0rem rgb(234, 234, 234), 0rem -0.1rem 1rem 0rem rgb(234, 234, 234);
}

.main_box div,
.main_box h2,
.main_box p {
    margin: 0.6em 0;
}

.main_box h2 {
    font-size: 1.8rem;
}

.main_box p {
    font-size: 1.2rem;
}

.main_box .email input {
    width: 30em;
    height: 2.7rem;
    border: 1px solid grey;
    border-radius: 6px;
    padding-left: 1rem;
    margin-bottom: 2em;
}

.main_box .button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.main_box .button input {
    padding: 0.5rem 0.7rem;
    margin-right: 1.5rem;
    border-radius: 6px;
}

input[value="Search"] {
    background-color: #076df3;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 4rem;
}

input[value="Cancel"] {
    background-color: rgb(114, 114, 114);
    color: rgb(27, 27, 27);
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 4rem;
}

.horizontal_ruler {
    height: 1px;
    width: 27em;
    background-color: rgb(146, 146, 146);
    margin-bottom: 1.8em;
}